spring:
  application:
    name: demo

  profiles:
    active: local

  datasource:
    url: jdbc:mysql://localhost:3306/test_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  
  data:
    redis:
      host: localhost
      port: 6379
      
  cache:
    type: redis

jwt:
  secret: ${JWT_SECRET}
  expiration: 900000